@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
  --h1-font-size: 1.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.hypnotic{
  background-image: url(IMG_20221105_095700.jpg);
  
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}


ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

/* HOVERING EFFECT */

.c{
  display: flex;
  justify-content: center;
 
}

.cc{
  font-weight: bolder;
  font-size: 2rem;
  margin-top: 1.5rem;
  
}

nav li a:hover {
  
  opacity: 100%;
  box-shadow: 0 0 70px #2f383f, 0 0 70px #2d3b47, 0 0 70px #233544;
  transition-delay: 0.001s;
  filter: brightness(350%);
  border-top-color: var(--text-dark);
  border-bottom-color: var(--text-dark);
  color: black;
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}


.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.description{
  font-style: italic;
  font-family: cursive;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

.image img:hover{
  transform: scale(1.1);
  transition-duration: 1.5s;
  
}

.links-container {
  background-color: var(--extra-light);
  display: flex;
    flex-wrap: wrap;
    gap: 5px !important; /* Space between links */
    justify-content: center;
    margin-top: 2rem !important;
}

.links-container .lin {
  flex: 1; /* Allows links to grow and fill space */
    margin: 0 1rem; /* Adds space between links */
    text-align: center;
    padding: 0.8em !important;
    background-color:var(--extra-light);
    border:2px solid var(--primary-color-dark);
    color: var(--primary-color-dark);
    text-decoration: none;
    border-radius: 0.3em;
}

.links-container a:hover{
  background-color: var(--primary-color-dark);
  color: var(--extra-light);
}




/* PAGE2 */
.about{
  width: 11%; 
  margin: 0 auto;
    
}

#page3{
 margin-top: 2rem;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  max-width: var(--max-width);
  width: 100%;
  padding: 5rem;
  margin: 0px auto;}

.butto {
  padding: 0.8rem;
  background-image: url(back.jfif);
  text-decoration: solid;
  color: white;
  border:.2rem solid #c7b8d4;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 1s ease;
 
}

.butto:hover {
  background-image: none;
  background-color: var(--primary-color-dark);
  border:0.4 rem white ;
  box-shadow: 
  10px 10px 20px rgba(70, 7, 243, 0.842),
        inset 0 0 10px rgba(219, 7, 238, 0.959);;
}

/* Hover colors for different button groups */
.hover-green:hover {
  background-color: rgb(11, 228, 11);
}

.hover-blue:hover {
  background-color: blue;
}

.hover-red:hover {
  background-color: red;
}


.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.1em; /* Space between items */
  padding: 0rem;
}

.j {
  flex: 1 1 200px; /* Flex-grow, flex-shrink, flex-basis */
  min-width: 150px; /* Minimum width of each item */
  text-align: center;
}

.lin {
  display: inline-block;
  padding: 100px 200px;
  background-color: #f0f0f0; /* Adjust as needed */
  border: 1px solid #ccc; /* Adjust as needed */
  border-radius: 5px; /* Adjust as needed */
  text-decoration: none;
  color: #000; /* Adjust as needed */
}

@media (max-width: 600px) {
  .j {
      flex: 1 1 100%; /* Full width on small screens */
  }
}

#page2 li{
  color: var(--primary-color);
  font-style: italic;
}
#page2 li:hover{
  color:#c7b8d4;
  cursor: pointer;
  text-decoration: underline;
}


#page2 h1{
  text-decoration: underline;
}

#page4:hover{
  background-image: url(/PORT/back2.jfif);
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    height: 100vh;
}

/* page3 */
.pcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: var(--extra-light);
}



.box {
  flex: 1 1 300px; /* Flex properties to control item sizing */
  max-width: 300px; /* Limiting maximum width for responsiveness */
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.box h1 {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  margin-bottom: 10px;
}

.box img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.box p {
  font-size: 1rem;
  line-height: 1.4;
  color: #686565;
}

#page3 .box p{
  color: #ebe0f5;
}
#page3 .box p:hover{
  color:black;
}
#certi{
  margin-top: 1.5rem;
}

#certi .box:hover , #page3 .box:hover {
  cursor: pointer;
  transform: scale(1.05);
 
}
#page3 .box:hover {
  background-image: url("back.jfif");
  font-weight: bolder;
  
}
#certi .box{
  height: 100%;
}
#certi .box:hover{
  background-image: url(back2.jfif);
}
footer {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.contact-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.contact-item:hover {
  transform: scale(1.05);
}

.contact-item img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.contact-info {
  text-align: center;
  margin-top: 10px;
}

.contact-info h2 {
  margin: 10px 0;
  font-size: 1.5em;
  color: #333;
}

.contact-info p {
  margin: 5px 0;
  color: #666;
}

.contact-info a {
  color: #1a0dab;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}



.about{
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.content{
  margin-top: 10rem;
}


















@media (max-width: 768px) {
  .links-container {
      flex-direction: column;
  }

  .lin {
      width: 100%; /* Full width for column layout */
  }
}



@media (max-width: 768px) {

  .container {
      flex-direction: column;
      align-items: center;
  }
  .box {
      width: 100%;
  }
}


@media (width < 750px) {
  
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

   .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  } 

  .image {
    grid-area: 1/1/2/2;
  }

  
  
}

@media (max-width: 768px) {
  .lin {
      flex: 1 1 calc(50% - 10px); /* Two links in a row, minus the gap */
  }
}

@media (max-width: 480px) {
  .lin {
      flex: 1 1 100%; /* One link in a row */
  }
}


@media (max-width: 768px) {
  .action__btns {
      flex-direction: column; /* Stack buttons vertically on smaller screens */
      align-items: center; /* Center align buttons vertically */
  }
}

/* Responsive design */
@media (min-width: 600px) {
  .contact-item ,.links-container{
      flex-direction: row;
      align-items: flex-start;
  }

  .contact-item img {
      margin-right: 20px;
  }

  .contact-info {
      text-align: left;
  }
}

@media (min-width: 900px) {
  .contact-item {
      max-width: 800px;
  }
}



/* SCROLLBAR */
/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 14px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--primary-color); /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color-dark); /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: black; /* Color of the scrollbar thumb on hover */
}

/* Firefox */
html {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: var(--extra-light) var(--primary-color) /* Thumb and track colors */
}

/* Internet Explorer 10+ */
body {
  -ms-overflow-style:none; /* Hides default scrollbar */
}
body::-webkit-scrollbar {
  display: none; /* Hides default scrollbar */
}



























#page2,footer{
  background:
      conic-gradient(at 10% 50%,#0000 75%,#f7f4fa 0),
      conic-gradient(at 10% 50%,#0000 75%,#f7f4fa 0) calc(1*43px) calc(3*43px),
      conic-gradient(at 10% 50%,#0000 75%,#f7f4fa 0) calc(2*43px) calc(1*43px),
      conic-gradient(at 10% 50%,#0000 75%,#f7f4fa 0) calc(3*43px) calc(4*43px),
      conic-gradient(at 10% 50%,#0000 75%,#f7f4fa 0) calc(4*43px) calc(2*43px),
      conic-gradient(at 50% 10%,#0000 75%,#f7f4fa 0) 0 calc(4*43px),
      conic-gradient(at 50% 10%,#0000 75%,#f7f4fa 0) calc(1*43px) calc(2*43px),
      conic-gradient(at 50% 10%,#0000 75%,#f7f4fa 0) calc(2*43px) 0,
      conic-gradient(at 50% 10%,#0000 75%,#f7f4fa 0) calc(3*43px) calc(3*43px),
      conic-gradient(at 50% 10%,#0000 75%,#f7f4fa 0) calc(4*43px) calc(1*43px),
      #ece8ef; 
background-size: 215px 215px;
}

#change{
  filter: grayscale(100%);
  filter: brightness(80%);
}
#change:hover{
  filter: brightness(100%);
}
